/* global style start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body style start  */
body {
  font-family: "Poppins", sans-serif;
}

/* attribute style start  */
a {
  text-decoration: none;
}

/* nav strat  */
nav {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
/* sub nav start  */
.sub-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4375e7;
  padding: 0.2% 5%;
}
/* nav follow container start  */
.nav-follow-cont {
  display: flex;
  gap: 20px;
  align-items: center;
}
/* follow titlw start  */
.follow-title h1 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
/* follow link start  */
.follow-link {
  display: flex;
  gap: 10px;
}
#regular {
  display: block;
}
#active {
  display: none;
}
#regular:hover {
  display: none;
}
#regular:hover ~ #active {
  display: block;
}
/* nav information container start  */
.nav-info-cont {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* location phone and mail div start  */
.location,
.phone,
.email {
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: 1px solid #fff;
  padding-right: 10px;
}
.nav-info-cont h3 {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff88;
}

/* main nav start  */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  background-color: #fff;
}
/* logo start  */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 50%;
}
.logo h1 {
  color: #142137;
  font-size: 30px;
  font-weight: 600;
}
/* links start  */
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.links a {
  text-decoration: none;
  color: #142137;
  font-size: 16px;
  font-weight: 400;
}
/* button start  */
.button a {
  padding: 10px 20px;
  color: #142137;
  background-color: #fff;
  border: 1px solid #1421374f;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
}
.button a img {
  width: 15px;
  height: 100%;
}
.button a:hover {
  background-color: #142137;
  color: #fff;
}
/* hero section start  */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../images/header.png);
  background-position: center 10%;
  background-size: cover;
}
/* hero overlay start  */
.hero-overlay {
  background-image: linear-gradient(to right, #142137, #14213700);
  width: 100%;
  height: 100%;
}
/* hero container strat  */
.hero-cont {
  padding: 8% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* hero text start  */
.hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* hero sub title start  */
.hero-sub h3 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #ffffff54;
  padding: 3px 2px;
  width: 15%;
  text-align: center;
  filter: blur(20%);
}
/* hero title start  */
.hero-title h1 {
  font-size: 60px;
  font-weight: 600;
  width: 100%;
  color: #fff;
  line-height: 60px;
}
/* hero paragraph start  */
.hero-paragraph p {
  font-size: 15px;
  font-weight: 500;
  color: #ffffffa9;
  width: 55%;
}
/* hero avater container start  */
.hero-ava-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* hero button start  */
.hero-btn a {
  text-decoration: none;
  color: #fff;
  background: #4375e7;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 600;
}
.hero-btn a:hover {
  background-color: #fff;
  color: #4375e7;
}
/* hero avatar start  */
.hero-ava {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ava-img img {
  width: 130px;
}
.ava-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ava-text img {
  width: 50%;
}
.ava-text h3 {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

/* slider start  */
.hero-slider {
  width: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* hero slider arow start   */
.hero-slid {
  background-color: #4375e7;
  width: 50px;
  border-radius: 25px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-slid:hover {
  background-color: #ffffff77;
  width: 50px;
  border-radius: 25px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1px solid #ffffff80;
  filter: blur(60%);
}
/* about section start  */
.about {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
/* about containr start  */
.about-cont {
  padding: 8% 5%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 50px;
}
/* about left container start  */
.about-left-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* about left text start  */
.about-left-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* about sub title start  */
.about-sub h4 {
  font-size: 14px;
  padding: 2px 10px;
  text-align: center;
  border-radius: 25px;
  font-weight: 600;
  color: #142137;
  background-color: #fff;
  border: 1px solid #1421374f;
  width: fit-content;
}
/* about title start  */
.about-title h1 {
  font-size: 40px;
  font-weight: 600;
  color: #142137;
  line-height: 53px;
}
/* about paragraph start  */
.about-paragraph p {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  color: #142137d3;
  line-height: 22px;
}
/* about button satrt  */
.about-button a {
  padding: 10px 20px;
  color: #142137;
  background-color: #fff;
  border: 1px solid #1421374f;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  width: fit-content;
}
.about-button a img {
  width: 15px;
  height: 100%;
}
.about-button a:hover {
  background-color: #142137;
  color: #fff;
}
/* about left iamge satrt  */
.about-left-image {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.about-left-image img {
  width: 70%;
}
.about-box {
  background-color: #fff;
  width: fit-content;
  padding: 5% 5%;
  border: 1px solid #1421374f;
  position: absolute;
  bottom: 0;
  right: 50px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.about-box h1 {
  font-size: 150px;
  font-weight: 500;
  position: relative;
  line-height: 130px;
  color: #142137;
}
.about-box p {
  font-size: 14px;
  color: #142137;
  margin-bottom: 70px;
  line-height: 17px;
}
/* about right container start  */
.about-right-cont {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}
/* about right text strat  */
.about-right-text {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
/* about circle box start  */
.about-circle {
  background: #fff;
  border: 1px solid #1421374f;
  border-radius: 100px;
  width: 180px;
  height: 180px;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: -10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-circle h1 {
  font-size: 30px;
  font-weight: 600;
  color: #142137;
}
.about-circle p {
  font-size: 14px;
  font-weight: 600;
  color: #142137;
  line-height: 17px;
}
/* about right image start  */
.about-right-img img {
  width: 99%;
}
/* services section start  */
.services {
  width: 100%;
  height: 100%;
  background-color: #ecf2fe;
  padding: 8% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
/* services text start  */
.services-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
/* services sub title start  */
.ser-sub-title h3 {
  color: #142137;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 25px;
  background-color: #ecf2fe;
  border: 1px solid #1421374f;
}
/* services title sart  */
.ser-title h1 {
  font-size: 44px;
  font-weight: 600;
  color: #142137;
}
/* services container start  */
.services-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
/* services box start  */
.services-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #1421374f;
  padding: 0 20px;
  width: 100%;
  cursor: pointer;
}
.last-ser-box {
  border-right: none;
}
/* services box title start  */
.services-box-title h1 {
  font-size: 27px;
  font-weight: 600;
  color: #142137;
}
/* services paragraph start  */
.services-box-paragraph p {
  font-size: 16px;
  font-weight: 400;
  color: #1421374f;
  width: 100%;
}
/* services button start  */
.services-box-button a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #142137;
  font-size: 17px;
  font-weight: 500;
}
/* feature start  */
.features {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 8% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
}
/* features text start  */
.features-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
/* feature title start  */
.features-title h1 {
  font-size: 40px;
  font-weight: 600;
  color: #142137;
}
/* features paragraph start  */
.features-paragraph p {
  font-size: 16px;
  color: #1421374f;
}
/* features video start  */
.features-video img {
  width: 100%;
}
/* features container start  */
.features-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 7%;
}
/* features box start  */
.features-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.features-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10%;
}
/* features image start  */
.feature-box-img {
  position: relative;
}
.features-img {
  position: relative;
  bottom: 90px;
  left: 50px;
}
#feature-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#main-feature-bg {
  position: relative;
  top: 50px;
  right: 50px;
  z-index: 3;
}
#feature-bg-down {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 2;
}
#main-feature-bg-down {
  position: relative;
  bottom: 80px;
  right: 50px;
  z-index: 3;
}
/* features box title start  */
.feature-box-title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #142137;
}
/* feature paragraph start  */
.feature-box-paragraph p {
  font-size: 14px;
  font-weight: 500;
  color: #1421374f;
}
/* experts section start  */
.experts {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 8% 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
/* experts text start  */
.experts-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
/* sub title start  */
.experts-sub h3 {
  font-size: 14px;
  color: #142137;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 25px;
  width: fit-content;
  background-color: #fff;
  border: 1px solid #1421374f;
}
/* title start  */
.experts-title h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
}
/* experts container start  */
.experts-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
/* experts box start   */
.experts-box {
  width: 300px;
  background-color: #ecf2fe;
}
/* experts image start  */
.experts-img img {
  width: 100%;
}
/* experts box text start  */
.experts-box-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 25px;
}
.exp-main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* experts slider start  */
.experts-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* experts slider container start  */
.experts-slider-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}
.experts-slider-cont img {
  width: 100%;
}
.first-slider,
.second-slider,
.thirs-slider,
.fourth-slider {
  display: flex;
  align-items: center;
  gap: 50px;
}
#regular-slider {
  display: block;
  margin-top: 6px;
}
#active-slider {
  display: none;
}
#regular-slider:hover {
  display: none;
}
#regular-slider:hover ~ #active-slider {
  display: block;
}
/* works section start */
.works {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 5% 5%;
}
/* works text start  */
.works-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 20px;
  gap: 50px;
}
/* left text start  */
.work-left-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
/* sub title start */
.work-sub h4 {
  font-size: 14px;
  font-weight: 500;
  color: #142137;
  border: 1px solid #1421374f;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 25px;
}
/* title start */
.work-title h1 {
  font-size: 45px;
  font-weight: 600;
  color: #142137;
  line-height: 50px;
}
/* work paragraph start */
.work-paragraph p {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  max-width: 400px;
}
/* works container start  */
.works-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* work box start */
.work-box-1,
.work-box-2,
.work-box-3,
.work-box-4 {
  height: 100%;
  border: 1px solid #1421374f;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  gap: 30px;
}
/* title start  */
.work-box-title-1 h1,
.work-box-title-2 h1,
.work-box-title-3 h1,
.work-box-title-4 h1 {
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #142137;
}
/* work hidden part start  */
.work-hidden-1,
.work-hidden-2,
.work-hidden-3,
.work-hidden-4 {
  display: none;
}
.work-box-title-1:hover ~ .work-hidden-1 {
  display: block;
}
.work-box-title-2:hover ~ .work-hidden-2 {
  display: block;
}
.work-box-title-3:hover ~ .work-hidden-3 {
  display: block;
}
.work-box-title-4:hover ~ .work-hidden-4 {
  display: block;
}
/* work main hidden start  */
.work-hidden {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* image start  */
.work-box-img img {
  width: 100%;
}
/* text start  */
.work-box-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  text-align: left;
}
/* icon start  */
.work-box-icon {
  background-color: #142137;
  width: fit-content;
  padding: 20px 10px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-box-icon img {
  width: 80%;
}
/* work box paragraph start */
.work-box-paragraph p {
  font-size: 16px;
  font-weight: 400;
  color: #142137;
}
/* work list start */
.work-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
/* work list text start */
.work-list-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.work-list-text img {
  width: 5%;
}
.work-list-text h3 {
  font-size: 18px;
  font-weight: 500;
}
/* package section start */
.packages {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 7% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
/* packages text start */
.packages-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
/* Sub title start */
.packges-sub-title h3 {
  font-size: 14px;
  font-weight: 500;
  color: #142137;
  border: 1px solid #1421374f;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 25px;
}
/* title start */
.packages-title h1 {
  font-size: 45px;
  font-weight: 600;
  color: #142137;
  text-align: center;
  line-height: 50px;
}
/* packages container start */
.packages-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 20px;
  height: 100%;
}
/* packages box start */
.packages-box {
  width: 100%;
  background-color: #fff;
  height: 100%;
  position: relative;
}
/* packages background start */
.packages-background {
  background-color: #ecf2fe;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 130px;
  justify-content: flex-start;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  transition: all 0.3s ease-out;
}
.packages-background:hover {
  height: 70%;
  margin-bottom: 0;
}
/* packages box title strt */
.packages-box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.packages-box-title h1 {
  font-size: 20px;
  font-weight: 500;
}
.packages-box-title img {
  width: 20%;
}
/* packages front start */
.packages-front {
  gap: 10px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #1421374f;
  padding: 10px 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* packages list strat */
.packages-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.packages-list img {
  width: 7%;
}
.packages-list h3 {
  font-size: 14px;
  font-weight: 500;
  color: #142137;
}
/* packages button start */
.packages-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
/* packages paragraph start  */
.packages-paragraph p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #142137;
}
/* packages main button start  */
.packages-main-button {
  display: flex;
  align-items: center;
  gap: 20px;
}
#first-package-btn {
  background-color: #4375e7;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
#first-package-btn:hover {
  background-color: #142137;
}
#first-package-btn:hover ~ #second-package-btn {
  background-color: #4375e7;
}
#second-package-btn {
  background-color: #142137;
  padding: 10px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
#second-package-btn:hover {
  background-color: #4375e7;
}
#second-package-btn:hover ~ #first-package-btn {
  background-color: #142137;
}
/* reviwe section start  */
.reviwes {
  width: 100%;
  height: 100%;
  padding: 8% 5%;
  background-color: #ecf2fe;
  display: flex;
  align-items: center;
  gap: 80px;
  flex-direction: column;
}
/* reviwes text start */
.reviwes-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
}
/* sub title start */
.reviwe-sub-title h3 {
  font-size: 14px;
  font-weight: 500;
  color: #1421374f;
  border: 1px solid #1421374f;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 25px;
}
/* title start */
.reviwe-title h1 {
  font-size: 45px;
  font-weight: 600;
  color: #142137;
  line-height: 55px;
}
/* reviwes container start */
.reviwes-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
/* reviwes-box start  */
.reviwes-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 5px 5px 10px -10px #142137;
  gap: 30px;
  padding: 30px 30px;
  cursor: pointer;
}
.reviwes-box:hover {
  box-shadow: 5px 5px 10px -8px #142137;

}
/* reviwes box title start */
.reviwes-box-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* stars image start */
.review-star img{
  width: 30%;
}
/* pargraph start */
.review-paragraph p {
  font-size: 16px;
  font-weight: 400;
  color: #142137;
}
/* reviwes image starta */
.reviwes-box-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
/* reviwe info start */
.reviwe-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* reviwe info text start */
.reviwe-info-text h1 {
  font-size: 18px;
  font-weight: 600;
}
.reviwe-info-text h3 {
  font-size: 14px;
  font-weight: 500;
  color: #1421374f;
}